.contentShadow {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

/* reusable style  */
.buttonOne {
	@apply m-4 px-4 py-2 rounded-lg contentShadow hover:opacity-80 bg-primary text-white;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
